@page "/PrivateCustomer/Create"
@inject IPrivateCustomerService PrivateCustomerService 
@using DanBase.Shared.CustomerModels.Command

<h3>CreateCustomer</h3>
<div class="form-group">
    <label>Company Id</label>
    <input class="form-control" type="text" id="CompanyId" @bind="customer.CompanyId" />
    <label>First name</label>
    <input class="form-control" type="text" id="FirstName" @bind="customer.FirstName" />
    <label>Last name</label>
    <input class="form-control" type="text" id="LastName" @bind="customer.LastName" />
    <label>CPR</label>
    <input class="form-control" type="text" id="CPR" @bind="customer.CPR" />
    <label>User name</label>
    <input class="form-control" type="text" id="UserName" @bind="customer.Username" />
    <label>Password</label>
    <input class="form-control" type="password" id="Password" @bind="customer.Password" />
    <label>Text</label>
    <input class="form-control" type="text" id="Text" @bind="customer.Text" />
    <label>Account</label>
    <input class="form-control" type="text" id="Account" @bind="customer.AccountNo" />
</div>

<button @onclick="Create">Create</button>
@code {

    PrivateCustomerCommandDto.AddCustomer customer = new PrivateCustomerCommandDto.AddCustomer();

    void Create()
    {
        PrivateCustomerService.Create(customer);
    }
}
