@page "/PrivateCustomer"
@using Danbase.WebClient.Components.PrivateCustomer
@inject NavigationManager Navigation
<h3>PrivateCustomer</h3>

<button @onclick="Create">Create</button>
<GetAllCustomers></GetAllCustomers>

@code {

    void Create()
    {
        Navigation.NavigateTo("/PrivateCustomer/Create");
    }
}
